<html>

<head>
    <link rel="stylesheet" href="/css/sprite-info.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <title>PS-Stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/custom.css">
</head>
<script>
    function getDefinedCss(s) {
        if (!document.styleSheets) return '';
        // replace spaces with periods in s
        s = s.replace(' ', '.');
        if (typeof s == 'string') s = RegExp('\\b' + s + '\\b', 'i');

        let A;
        let S;
        const DS = document.styleSheets;
        let n = DS.length;
        const SA = [];
        while (n) {
            S = DS[--n];
            A = S.rules ? S.rules : S.cssRules;
            for (let i = 0, L = A.length; i < L; i++) {
                tem = A[i].selectorText ?
                    [A[i].selectorText, A[i].style.cssText] :
                    [A[i] + ''];
                if (s.test(tem[0])) SA[SA.length] = tem;
            }
        }
        return SA.join('\n\n');
    }
</script>

<body>
    <div id="react_content"></div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>